/* reset   */
* {margin: 0; padding: 0; text-decoration: none; list-style-type: none;}
/*  import das fontes    */
@import url("https://fonts.googleapis.com/css2? family = Archivo + Black & family = Fjalla + One & family = Oswald: wght @ 300; 400; 500; 600; 700 & display = troca");
/* definindo váriaveis das fontes usadas no projeto  */
:root {
    --font-text: "Fjalla One", sans-serif;
    --font-title: "Archivo Black", sans-serif;
    --font-menu: "Oswald", sans-serif;
}
html {scroll-behavior: smooth;}

/*  Configurando o header        */
.sessao-header {width: 100%; height: 100vh; background-color: #1A2930; overflow: hidden; position: relative; }
.header-menu {  width: 100%; height: 8vh;  display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color:rgba(26, 41, 48, .7); position: fixed; z-index: 170; }
.sessao-logo {width: 50%;}
.sessao-logo a {  font-family: var(--font-menu); font-size:1rem; color: #fff; margin-left: 1.5rem ; text-transform: uppercase; font-weight: 300; letter-spacing: .2rem; }
.sessao-menu {width:100%;  font-size: 1rem; color: #fff; display: flex; flex-direction: row ; justify-content: flex-end; align-items: center; padding-right: .5rem; }
.menu a { font-family: var(--font-menu); font-weight: 300; letter-spacing: .2rem; font-size: 1rem; color: #fff; padding: 0 2rem; text-transform: uppercase;}
.menu a:hover {color: black; font-weight: 700;  margin-left: solid black; border-right: 1px solid black; ;}
.sessao-logo a:hover {border-right: 1px solid black;  color: black; font-weight: 700; }
.header-menu:hover { background-color:rgba(26, 41, 48, 1); height: 12vh;}

/*    config wrapper com imagem do header      */
.img-wrapper {width: 100vw; height: 80vh; background-color: rgba(0,0,0,0.9); overflow: hidden;}
.img-wrapper img {height: 100%; width: 100%; object-fit: cover; opacity: 0.5; animation: zoom 25s;}

/*  criando animação do img-wrapper        */
@keyframes zoom{
    0% {transform: scale(1.3);}
    100% {transform: scale(1);}
}
/*   texto do img-wrapper       */
.text-wrapper { width: 100vw; height: 100%; max-width: 100vw; text-align: center; overflow: hidden; position: absolute; top: 20%; color: #fff; animation: moveText 1.7s 0.5s forwards; opacity: 0;}
.text-wrapper h1 { font-family: var(--font-title); font-size: 4rem; text-transform: uppercase; text-shadow: .2rem .2rem rgba(0,0,0,0.4);}
.text-wrapper p {font-family: var(--font-text); font-size: 1.5rem; margin-top: 2rem; text-shadow: .1rem .1rem rgba(0,0,0,0.4);}

/*  Criando animação do text-wrapper    */
@keyframes moveText {
    0% {transform: translateY(10rem) rotateY(-30deg);}
    100% {transform: translateY(0) rotateY(0); opacity: 1;}

}
/* editando icons-wrapper         */
.icons-wrapper { width: 100%; height: 22vh; color: #fff; display: flex; align-items: center; justify-content: space-around;}
.icons-wrapper div {display: flex; flex-direction: column; align-items: center; justify-content: center;  animation: moveIcon 1.5s; }
.icons-wrapper div i {font-size: 2rem; margin-bottom: 1rem;}
.icons-wrapper div span {font-family: var(--font-text);font-size: 1rem; text-transform: uppercase;}
/*    animação dos icones do icons-wrapper      */
@keyframes moveIcon {
    0% {transform: scale(1.5); opacity: 0; }
    100% {transform: scale(1);  opacity: 1;}
}

/*  configs da section eventos        */
.sessao-eventos {width: 100%; height: auto;  background-color: #0A1612; overflow: hidden;}
.header-eventos {width: 100%; height: 20vh;color:#fff;  overflow: hidden; text-align: center;}
.header-eventos h2{font-family: var(--font-title); font-size: 2rem; text-transform: uppercase; padding: 1rem;}
.header-eventos p { font-family: var(--font-text); font-size: 1.2rem;}
.box-salas-eventos { background-color:white; width: 80%; margin: 0 auto; height: 60vh; border: 1px solid black; margin-top: 2rem; display: flex; justify-content: space-around; align-items: center; border-radius: 1rem; box-shadow: .2rem .2rem rgba(0,0,0,0.4); }
.box-salas-eventos:nth-child(6) {margin-bottom: 2rem;}
/*   confgs da galeria de imagem       */
.img-eventos, .img-eventos-two, .img-eventos-three, .img-eventos-four, .img-eventos-five { position: relative; height: 85%; background-color: black; width: 45% ; background-color: rgba(0,0,0,0.9); box-shadow: .1rem .1rem rgba(0,0,0,0.4);}
.img-eventos img, .img-eventos-two img, .img-eventos-three img, .img-eventos-four img, .img-eventos-five img {height: 100%; width: 100%;}
.gallery, .gallery-two, .gallery-three, .gallery-four, .gallery-five {width: 100%; height: 100%;  display: flex; }
.imagem-escondida { z-index: 150; }
.gallery img, .gallery-two img, .gallery-three img, .gallery-four img, .gallery-five img {transition: 1s; width: 100%; height: 100%; position: absolute; }
.gallery img:hover, .gallery-two img:hover, .gallery-three img:hover, .gallery-four img:hover, .gallery-five img:hover{filter: grayscale(100%); }


.descricao-eventos {height: 85%;  width: 45% ; color: black; text-align: justify; display:flex; flex-direction: column; align-items: center; justify-content: center; text-shadow: .1rem  rgba(0,0,0,0.4);}
.descricao-eventos h3 { font-family: var(--font-title); padding-bottom: 2rem; font-size: 1.6rem;}
.descricao-eventos p {font-family: var(--font-text); font-size: 1.2rem;}
/*  configs da sessao sobre         */
.sessao-sobre {width: 100%; height: auto; background-color: #1A2930; padding-bottom: 2rem;}
.header-sobre {width: 100%; height: 15vh; text-align: center;}
.header-sobre h2 {font-family: var(--font-title); font-size: 2rem; text-transform: uppercase; padding: 1rem; color: #fff;}
.text-sobre { background-color:#fff; color: #000;  width: 80%; height: auto; margin: 0 auto; text-align: justify; border-radius: 1rem; box-shadow: .1rem .1rem rgba(0,0,0,0.4);}
.text-sobre p {font-family: var(--font-text); font-size: 1.2rem; padding: 4rem;}
/* confgs sessao de contato          */
.sesssao-contato {width: 100%; height: auto; background-color: #0A1612; padding-bottom: 2rem;}
.header-contato {width: 100%; text-align: center; padding-bottom: 1rem;}
.header-contato h2 { font-family: var(--font-title); font-size: 2rem; text-transform: uppercase; padding: 1rem; color: #fff;}
.contact-box{ display: flex;  width: 100%; margin: 0 auto;   }
.contact-left {width: 80%; margin: 0 auto;   }
.form {margin: 0 auto; width: 90%; background-color: #fff; padding: 2rem 2rem ;   border-radius: 1rem; box-shadow: .1rem .1rem rgba(0,0,0,0.4);}
.form h3 { font-family: var(--font-title); text-align: center; margin-bottom: 3rem; font-size: 1.3rem; }
.input-row {display: flex; justify-content: space-between; margin-bottom:1rem; }
.input-row .input-group{flex-basis: 42%; }
.input-group span {padding-bottom: 1rem; font-family: var(--font-menu); font-weight: bolder;}
.input-group input {height: 1.5rem;}
#tipo-sala {height: 1.8rem;}
.options {display: flex; flex-direction: column ; }
textarea {width: 100%; max-width: 100%; min-width: 80%; height: 30%;  border: 1px solid #ccc; outline: none; padding: 10px; box-sizing: border-box;}
label {margin-bottom: 6px; display: block; color: #000; font-family: var(--font-menu); font-weight: bolder; }
hr {margin: 1.5rem;}
.email {width: 120%;}
.name {width: 100%;}
.event-name {width: 190%;}
.total-alunos {width: 40%; }
.input-room input {width: 12%; margin-bottom: 1rem; text-align: center;}
.options input, #total-pax-sgl, #total-pax-double, #total-pax-triple {width: 20%;}
.options label {font-weight: normal;}
.msg {text-align: center; font-size: 1.3rem;}
.box-btn {width: 100%; display: flex; justify-content: center;}
.btn-enviar {width: 80%; height: 2rem; border-radius: 1rem; margin: 2rem 0; border: none; font-weight: bolder; font-family: var(--font-menu); background-color: #1A2930; color: #fff; cursor: pointer; letter-spacing: .3rem; color: #c5c1c0;}
.btn-enviar:hover {background-color: #0F1626  ;}
/*  footer configs   */
.sessao-footer {width: 100%; height: 20vh; background-color: #1A2930; color: #c5c1c0; padding: 3rem 0rem; }
.company-info { width: 90%; height: 70%; display: flex; justify-content: space-around;  margin: 0 auto; }
.social-media {display: flex; flex-direction: column;  align-items: center; }
.social-links {display: flex; line-height: 1.5rem;  }

.social-media ul a i {color: #c5c1c0; margin: 0 1rem; }
.lindacap-info {line-height: 1.5rem; text-align: center; }
.othervision-info {text-align: center; padding-top: 2rem;}

/*   responsividade       */
@media (max-width: 1050px) {
    .sessao-logo {display: none;}
    .sessao-menu {justify-content: center; padding-right: 0;}
    .box-salas-eventos{position: relative; height: 45vh;  }
    .descricao-eventos {width: 80%; }
    .img-eventos, .img-eventos-two, .img-eventos-three, .img-eventos-four, .img-eventos-five {width: 10%; height: 15%; position: absolute; bottom: 10%; opacity: 0.3; border: 2px solid #000;}    
    html {font-size: .8rem;}
}

@media (max-width:620px) {
    .menu a{font-size: 1rem; padding: 0 2rem; } 
    .header-eventos h2, .header-sobre h2, .header-contato h2 {font-size:  1.5rem;}   
    .descricao-eventos h3 {font-size: 1.4rem;}
}

@media (max-width:770px) {    
    .company-info {flex-direction: column;}
    .lindacap-info {padding-bottom: 1rem;}
}



