/* reset   */
* {margin: 0; padding: 0; font-size: 1rem; text-decoration: none;}

/*  Configurando o header        */
.sessao-header {width: 100%; height: 100vh; background-color: #3085C2; overflow: hidden; position: relative; }
.header-menu {  width: 100%; height: 8vh;  display: flex; flex-direction: row; align-items: center; justify-content: space-between; background-color: #215A83;}
.sessao-logo a {font-size:1rem; color: #fff; margin-left: 1.5rem ; text-transform: uppercase; }
.sessao-menu {width:50%;  font-size: 1rem; color: #fff; display: flex; flex-direction: row ; justify-content: flex-end; align-items: center; }
.menu a {font-size: 1rem; color: #fff; padding: 2rem; text-transform: uppercase;}
.menu a:hover {color: black; font-weight: 500; margin-left: solid black; border-right: 1px solid black; }
.sessao-logo a:hover {border-right: 1px solid black; padding-right: .5rem; color: black; font-size: 1.1rem;}

/*    config wrapper com imagem do header      */
.img-wrapper {width: 100vw; height: 70vh; background-color: rgba(0,0,0,0.9); overflow: hidden;}
.img-wrapper img {height: 100%; width: 100%; object-fit: cover; opacity: 0.5; animation: zoom 25s;}

/*  criando animação do img-wrapper        */
@keyframes zoom{
    0% {transform: scale(1.3);}
    100% {transform: scale(1);}
}
/*   texto do img-wrapper       */
.text-wrapper { width: 100vw; height: 100%; max-width: 100vw; text-align: center; overflow: hidden; position: absolute; top: 20%; color: #fff; animation: moveText 1.7s 0.5s forwards; opacity: 0;}
.text-wrapper h1 {font-size: 4rem; text-transform: uppercase; text-shadow: .2rem .2rem rgba(0,0,0,0.4);}
.text-wrapper p {font-size: 2rem; margin-top: 2rem; text-shadow: .2rem .2rem rgba(0,0,0,0.4);}

/*  Criando animação do text-wrapper    */
@keyframes moveText {
    0% {transform: translateY(10rem) rotateY(-30deg);}
    100% {transform: translateY(0) rotateY(0); opacity: 1;}

}
/* editando icons-wrapper         */
.icons-wrapper { width: 100%; height: 22vh; color: #000; display: flex; align-items: center; justify-content: space-around;}
.icons-wrapper div {display: flex; flex-direction: column; align-items: center; justify-content: center;  animation: moveIcon 1.5s; }
.icons-wrapper div i {font-size: 2rem; margin-bottom: 1rem;}
.icons-wrapper div span {font-size: 1rem; text-transform: uppercase;}
/*    animação dos icones do icons-wrapper      */
@keyframes moveIcon {
    0% {transform: scale(1.5); opacity: 0; }
    100% {transform: scale(1);  opacity: 1;}
}

/*  configs da section eventos        */
.sessao-eventos {width: 100%;  background-color: #215A83; overflow: hidden;}
.header-eventos {width: 100%; height: 15vh;color:#fff;  overflow: hidden; text-align: center;}
.header-eventos h2{font-size: 2rem; text-transform: uppercase; padding: 1rem;}
.header-eventos p {font-size: 1.2rem;}

.box-salas-eventos { background-color:white; width: 80%; margin: 0 auto; height: 60vh; border: 1px solid black; margin-top: 2rem; display: flex; justify-content: space-around; align-items: center; border-radius: 1rem; box-shadow: .2rem .2rem rgba(0,0,0,0.4); }
.box-salas-eventos:nth-child(6) {margin-bottom: 3rem;}
.img-eventos {height: 85%; background-color: black; width: 45% ; background-color: rgba(0,0,0,0.9); box-shadow: .1rem .1rem rgba(0,0,0,0.4);}
.img-eventos img {height: 100%; width: 100%; opacity: 0.7;}
.descricao-eventos {height: 85%;  width: 45% ; color: black; text-align: justify; display:flex; flex-direction: column; align-items: center; justify-content: center; text-shadow: .1rem  rgba(0,0,0,0.4);}
.descricao-eventos h3 {padding-bottom: 2rem; font-size: 2rem;}
.descricao-eventos p {font-size: 1.2rem;}
/*  configs da sessao sobre         */
.sessao-sobre {width: 100%; height: 100vh; background-color: #215581;}
.header-sobre {width: 100%; height: 15vh; text-align: center;}
.header-sobre h2 {font-size: 2rem; text-transform: uppercase; padding: 1rem; color: #fff;}
.text-sobre { background-color:#fff; color: #000;  width: 80%; height: 80vh; margin: 0 auto; text-align: justify; border-radius: 1rem; box-shadow: .1rem .1rem rgba(0,0,0,0.4);}
.text-sobre p {font-size: 1.2rem; padding: 4rem;}
/* confgs sessao de contato          */
.sesssao-contato {width: 100%; height: 100vh;}
.header-contato {width: 100%; height: 15vh;  color: #fff; text-align: center;}
.header-contato h2 {font-size: 2rem; text-transform: uppercase; padding: 1rem; color: #000;}
.form-contato {width: 80%; height: auto; margin:  .2rem auto; background-color: black; color: white;  border: 1px solid white;}
.form-contato hr { width: 100%;}
/* formatando o formulário de contato         */
.form-contato {   display: grid; grid-template-columns: auto 1fr;  column-gap: 5rem;}
.form-1 input {width: 3rem;}
.form-1 #email {width: 8rem;}
.form-2{ height: 8rem; width: 100%;}
.form-3{ height: 8rem; width: 100%;}
.form-4{ height: 8rem; width: 100%;}
/*          */
/*          */





